<div class = "text-center">
  <h1 class = "mt-4" >メモアプリ</h1>
  <div class ="mt-4">
    <a class = "btn btn-primary m-4 " href="/memos/new"><i class="fas fa-pen"></i>新規MEMO作成</a>
  </div>
  <table class="table table-striped　table-borderless">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>更新日時</th>
    </tr>
  </thead>
    <tbody>
    <% @results.each do |result|%>
    <tr>
      <td><a href="/memos/<%= result['memo_id'] %>"><%= result['memo_title'] %></td>
      <td><%= convert_to_br(result['memo_body']) %></td>
      <td><%= result['updated_at'] %></td>
      <br>
    </tr>
    <% end %> 
    </tbody>
  </table>
</div>
