<div class = "text-center ">
  <h1 class = "m-4">新規メモ作成</h1>
  <form action="/memos" method="POST">
    <div class = "form-group">
      <div class = "m-2" >タイトル</div>
      <input  type="text" class="form-control col-4 mx-auto" name="title" placeholder=" タイトルは必須です" required >
      <div class = "m-2" >内容</div>
      <textarea class ="form-control col-4 mx-auto" name="body" rows="5" placeholder="空白可" ></textarea>
      <input class = "btn btn-primary m-4" type="submit" value="作成する">
    </div>
  </form>
</div>

